# текущее окружение
ENV=local

# пути до приложений
KIRIN_BEAR_WEB_PATH=
KIRIN_BEAR_WEB_ENV=production
KIRIN_BEAR_API_PATH=
KIRIN_BEAR_API_ENV=production

# выделенный список IP-адресов
SUBNET=192.168.100.0/24
SUBNET_NGINX_IP=192.168.100.100

#общее название docker compose проекта
COMPOSE_PROJECT_NAME=kirin-docker

# пароль root к mysql
MYSQL_ROOT_PASSWORD=

# путь до ssl
SSL_PATH=./services/nginx/ssl/

# доступы к minio
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=

# для локальной раскатки хватило текущего пользователя,
# для раскатки на бою потребовалась группа root или id пользователя
# от которого запускается раскатка
GRAFANA_USER=grafana

# RabbitMq
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=
