# текущее окружение
ENV=local

# пути до приложений
KIRIN_BEAR_WEB_PATH=
KIRIN_BEAR_API_PATH=

#общее название docker compose проекта
COMPOSE_PROJECT_NAME=kirin-docker

# пароль root к mysql
MYSQL_ROOT_PASSWORD=

# путь до ssl
SSL_PATH=./services/nginx/ssl/

# доступы к minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# https://grafana.com/docs/grafana/latest/setup-grafana/installation/docker/#migrate-to-v73-or-later
# для локальной раскатки хватило текущего пользователя, для раскатки на бою потребовалась группа root
GRAFANA_USER=kirin

# RabbitMq
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
